
#testimonials-section{
	background: rgb(240,240,240);
}

.testimonials-section-container{
	width: 100%;
	text-align: center;
}



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	#testimonials-section{
		padding: 1rem 0;
	}

	.section-title{
		padding:20px;
	}
	.section-title h1{
		font-size: 24px;
		font-weight: bold;
	}
	.testimonials-carouse-container{
		width: 100%;
		margin:0 auto;
		text-align: center;
		height: 350px;
		padding:20px;
		border-radius: 5px;
	}
	.testimonials-carouse-item{
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
	}
	.testimonials-image-container{
		background: black;
		width: 150px;
		height: 150px;
		border-radius: 75px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.testimonials-image-item{
		width: 100px;
	}

	.testimonials-text{
		margin-top: 20px;
		margin-bottom: 20px;
	}

	.testimonial-people{

	}

	.testimonial-people h6{
		font-weight: 900;
	}

	.testimonials-height{
		height: 600px;
	}

	.testimonials-index{
		height: 600px;	
	}
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

	#testimonials-section{
		padding: 2rem 0;
	}

	.section-title{
		padding:20px;
	}

	.section-title h1{
		font-size: 40px;
		font-weight: bold;
	}
	.testimonials-carouse-container{
		width: 100%;
		margin:0 auto;
		text-align: center;
		height: 400px;
		padding:40px;
		border-radius: 5px;
	}
	.testimonials-carouse-item{
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
	}
	.testimonials-image-container{
		background: black;
		width: 200px;
		height: 200px;
		border-radius: 100px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.testimonials-image-item{
		width: 150px;
	}

	.testimonials-text{
		margin-top: 20px;
		margin-bottom: 20px;
	}

	.testimonials-text p{
		font-size: 22px;
	}

	.testimonial-people{
		font-size: 18px;
	}

	.testimonial-people h6{
		font-weight: 900;
	}	

	.testimonials-height{
		height: 700px;
	}

} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	.testimonials-index{
		height: 700px;	
	}
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	.testimonials-index{
		height: 800px;	
	}
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

	#testimonials-section{
		padding: 4rem 0;
	}

	.section-title{
		padding:20px;
	}

	.section-title h1{
		font-size: 3em;
		font-weight: bold;
	}
	.testimonials-carouse-container{
		width: 100%;
		margin:0 auto;
		text-align: center;
		height: 600px;
		padding:80px;
		border-radius: 5px;
	}

	.testimonials-carouse > div{		
		margin : 0 auto;	
	}

	.testimonials-carouse-item{
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;

	}

	.testimonials-image-container{
		background: black;
		width: 300px;
		height: 300px;
		border-radius: 150px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.testimonials-image-item{
		width: 150px;
	}

	.testimonials-text{
		margin-top: 20px;
		margin-bottom: 20px;
		margin-right: 10%;
		margin-left: 10%;

	}

	.testimonials-text p{
		font-size: 28px;
	}

	.testimonial-people{
		font-size: 18px;
	}

	.testimonial-people h6{
		font-weight: 900;
	}	

	.testimonials-height{
		height: 1100px;
	}

	.testimonials-index{
		height: 1000px;	
	}

}