@media screen and (min-width: 0px) and (max-width: 575px){
  .company-image-movil-container{
    padding: 20px;
  }

  .text-logo-movil-container a{
    font-size: 12px ;
  }
  .company-logo-container{
      width: 150px;
      height: 150px;    
      background-color: black;
      padding: 10px;
      border-radius: 50%;
  }

  .company-logo-container img{
      width: 100px;
      height: 75px;
      margin-top: 25px; 
  }
}

@media screen and (min-width: 576px){

}

@media screen and (min-width: 768px){
  #where-to-buy-movil-section{
    display: none;
  }
}

@media screen and (min-width: 992px){
  #where-to-buy-movil-section{
    display: none;
  }  
}

@media screen and (min-width: 1200px){
  #where-to-buy-movil-section{
    display: none;
  }  
}